<html>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="../../static/style.css">
  <script src="../../static/main.js"></script>


  <link rel="stylesheet" href="../static/style.css">
	<link rel="stylesheet" href="../static/style1.css" type="text/css" media="all" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/jquery.raty.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../static/jquery.raty.js"></script>

  </head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BookArea</a>
    </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/Home"> Home <span class="sr-only">(current)</span></a></li>
          <li><a href="{% url "authors" %}">Authors</a></li>

               <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
              {% for cat in catergory %}
              <li><a href="/category/{{ cat.id }}">{{ cat.name }}</a></li>
              {% endfor %}
          </ul>
        </li>

      </ul>
      <form class="navbar-form navbar-left" >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>

        <ul class="nav navbar-nav navbar-right">
        <a href="#" class="btn btn-primary btn-lg active " role="button" aria-disabled="true">Logout</a> |
        {% if user.is_authenticated %}
        <a href="{% url 'signOut' %}" class="btn btn-primary btn-lg active " role="button" aria-disabled="true">LogOut</a>
        {% endif %}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
{% csrf_token %}
{% block block_content %}
{% endblock block_content %}
</div>
<script type="text/javascript">
  $('.raty').raty({
  click: function(score, evt) {
     window.location.href='/BookRate/7/'+score;
  }
});

$(".score").each(function(value){
  $('.raty_read').raty({ readOnly: true, score: $(this).val() });
});

</script>
</body>
</html>
